<nav class="navbar">

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu"> <i class="fa fa-bars"></i> Prova Softplan </a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">{{ auth.jwtPayload?.nome }}</li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_PESQUISAR_PESSOA')"><a routerLink="/pessoas"><i class="fa fa-user-o"></i> Pessoas</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/source"><i class="fa fa-github" aria-hidden="true"></i> Código Fonte</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a href="{{navbarUrl}}"><i class="fa fa-book" aria-hidden="true"></i> Swagger</a></li>
    <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()"> <i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
  </ul>

</nav>
